* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: beige;
     min-height: 100vh;
}
.Panel{
    display: grid;
    gap: 10px;
   
    grid-template: 
    "Encabezado" 50px
    "Menu" 20px
    "contenido" auto 
    "Lateral" 100px
    "Pie"20px;

@media(min-width:900px){
    grid-template:
    "Encabezado Encabezado Encabezado" 100px
    "Menu Menu Menu" 50px
    "contenido contenido Lateral" auto 
    "Pie         Pie         Pie"  50px /50px auto auto;
    background-color:gray;
}
}
.Encabezado{
    background-color: #f4f4f4;
    grid-area: Encabezado;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Encabezado img{
    width: 100%;
    
   
}
.Encabezado h1{
    font-size: 3rem;
    font-style: italic;
    font-family:cursive;
    text-transform:capitalize;
    text-shadow: 1px 3px 2px gray;
}
.Menu{
    background-color: blanchedalmond;
    grid-area: Menu;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.links{
    display: flex;
    justify-content: center;
    list-style: none;
}
.links li{
    margin: 0 60px;
}
.links li a{
    text-decoration: none;
    color: rgb(65, 62, 62);
    font-weight: bold;
    transform: color 0.5s ease;
    }
.links li a:hover{
    color: rgb(100, 138, 196);
    font-size: 1.1rem;
    border-bottom: 1px solid rgb(60, 125, 223);
    padding: 10px;
    border-radius: 10px;
}

.Contenido{
    background-color:rgb(231, 206, 176);
    grid-area: contenido;
}
.Lateral{
    background-color: rgb(95, 95, 65);
    grid-area: Lateral;
}
.Pie{
    background-color: rgb(114, 97, 74);
    grid-area: Pie;
}

/*tarjetas*/

.oferta{
    margin: 20px;
}
.oferta h2{
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.cont-tarjetas{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

}
.tarjetas{
    background-color: rgb(151, 123, 90);
    border-radius: 15px;
    box-shadow: 0 2px 10px black;
    width: 300px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
   transition: transform 0.5s ease;
}
.tarjetas img{
    width: 100%;
    height: auto;
}
.tarjetas button{
    display: inline-block;
    margin-top: 5px;
    padding: 10px  20px;
    background-color: rgb(98, 121, 98);
    color:aliceblue;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    width: 100%;
}
.tarjetas button:hover{
    background-color: rgb(105, 153, 105);
    
}
.tarjetas:hover{
    transform: translateY(-10px);
}
.tarjetas label{
    display: inline-block;
}